body{
    background: blue;
}

.class{
    text-align: center;
}
.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
input{
    font-size: 1rem;
}
.hidden{
    display: none !important;
}
.visible{
    display: flex;
}
.card-body{
    height: 300px;
    overflow: scroll;
}
.card{
    height: 93%;
}
.card-img-top{
    height: 60%;
}
.rem{
    height: 450px;
}