body{
    background: dimgray;
}

.title{
    text-align: center;
    color: white;
    background: rgb(243,68,35);
}
h1:hover{
    color: #5FE5C1;
}
.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
input{
    font-size: 1rem;
}
/* .hidden{
    display: none !important;
}
.visible{
    display: flex;
} */
.card-body{
    height: 300px;
    overflow: scroll;
}
.card{
    height: 93%;
}
.card-img-top{
    height: 60%;
}
.rem{
    height: 450px;
}
.flex-items{
    display: flex;
}
.forms{
    position: sticky;
    justify-content: right;
}